<h1>
  LOG IN
</h1>
<form action="/login" method="POST">
  <p>
    <input type="text" name="user[username]" placeholder="login">
  </p>
  <p>
    <input type="password" name="user[password]" placeholder="password">
  </p>
  <input type="submit" value="LOG IN">
  <input type="button" onclick="window.location.href='/game'" value="PLAY">
</form>
