<html>
  <head>
    <link rel="stylesheet" href="hangman.css">
  </head>
  <body>
    <div>
      <pre>
        <%= hangman %>
      </pre>  
      <p>
        <%= message %>
      </p>
      <form>
        <input type="submit" value="New game">
      </form>
    </div>
  </body>
</html>
