<h1>
  SIGN IN
</h1>
<form action="/register" method="POST">
    <p>
      <input type="text" name="user[username]" placeholder="enter your name">
    </p>
    <p>
      <input type="password" name="user[password]" placeholder="enter your password">
    </p>
    <p>
      <input type="password" name="user[password_again]" placeholder="repeat your password">
    </p>
    <input type="submit" value="SIGN UP">
    <input type="button" onclick="window.location.href='/game'" value="PLAY">
</form>
